<!DOCTYPE html>
<html>
<head>
  <title>Mybookings</title>
  <%= stylesheet_link_tag    "mybookings/application", media: "all" %>
  <%= javascript_include_tag "mybookings/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
