= title

= simple_form_for @resource_type, url: backend_resource_types_path do |f|
  = render partial: 'form_fields', locals: { f: f }
  = f.button icon_with_text('ok', t('.create_resource_type')), class: 'btn btn-primary'
