%ul#admin-menu.nav.nav-pills.nav-stacked
  %li{ class: "#{active_class_for('admin/resources')}" }
    = link_to t('.resources'), admin_resources_path
  %li{ class: "#{active_class_for('admin/resource_types')}" }
    = link_to t('.resource_types'), admin_resource_types_path
