%head
  %title= yield :html_title
  %meta{ charset: 'utf-8' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1'}
  = stylesheet_link_tag 'mybookings/application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'mybookings/application', 'data-turbolinks-track' => true
  = csrf_meta_tags
