=title

= simple_form_for @resource, url: admin_resources_path, html: { class: 'form-vertical' } do |f|
  = render_model_base_errors f.object

  = f.input :name
  = f.button :button, icon_with_text('ok', t('.create_resource')), class: 'btn btn-primary'
