%dl.panel{ class: "panel-default resource-type-#{booking.resource_type.name.parameterize}" }
  .panel-heading
    .row
      .col-xs-9
        = icon_with_text('envelope', t('.title', created_at: l(booking.created_at, format: :long)))
      .col-xs-3.text-right
        = link_to_delete t('.cancel_booking'), booking_path(booking.id), t('mybookings.delete_confirmation'), class: 'btn btn-default btn-xs'
  .panel-body
    .row
      = render booking.last_events

