- if @resource_types.any?
  .row
    - @resource_types.each do |resource_type|
      .col-xs-3
        = link_to new_booking_path(resource_type_id: resource_type.id) do
          .panel.panel-default
            .panel-body
              %h5.text-center= resource_type.name

- else
  %p.lead= t('.no_resource_types')
