= title

#bookings-calendar{ 'data-turbolinks-permanent': true }

:coffeescript
  $(document).on 'turbolinks:load', ->
    Mybookings.BookingsCalendar.render('#bookings-calendar', "#{backend_resource_events_path(resource_id: @resource.id, format: :json)}", "#{I18n.locale}")
